:root{
  --primary-color: #D5B4B4;
  --secondary-color: #E4D0D0;
  --dark-color: #867070;
  --light-color: #F5EBEB;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  text-align: center;
}

.App-header {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}

html,
body{
    background-color: whitesmoke;

}


