.btn-component{
    margin: 5px;
    padding: 5px;
    border-radius: 0.3rem;
    user-select: none;
    cursor: pointer;
    text-align: center;
    letter-spacing: 2px;
    font-size: 1em;
}

.find{
    background-color: var(--dark-color);
    color: var(--light-color);
}

.delete{
    background-color: var(--dark-color);
    color: white;
}

.newItem, .add{
    background-color: var(--secondary-color);
    color: white;
    border-color: azure;
    font-weight: 800;
}

.cancel{
    background-color: var(--dark-color);
    color: white;
}

.yes{
    background-color: green;
    color: white;
}


